*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}
/* header */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 22vw;
}
.logo{
    color: #6d48e5;
    font-weight: 800;

}

a{
    text-decoration: none;
}
.navigation a:hover{
    color: #6d48e5;
}
.navigation{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 30vw;
}
.link-color{
    color: rgb(106, 105, 105);
}

.signin{
    background-color: #6d48e5;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    
}
.signin:hover{
    background-color: white;
    border-radius: 6px ;
    color: #6d48e5;
    border: #6d48e5 solid 2px;
}
.menu-icon {
    display: none;
    font-size: 20px;
    color: #6d48e5;
}
.check {
    display: none;
}


/* main */
main{
    margin-top: 30px;
}
.section-one{
    text-align: center;
}

.hola{
    color: rgb(59, 59, 59) ;
}
.hello{
    margin-top: 20px;
    color: rgb(106, 105, 105) ;
    line-height: 20px;
    letter-spacing: 1px;
}
.btn-register {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 2px;
    margin: 25px 0;
    text-transform: uppercase;
    text-decoration: none;
    background: #6d48e5;
    color: white;
    border-radius: 4px;
}
.btn-register:hover{
    background-color: white;
    border-radius: 6px ;
    color: #6d48e5;
    border: #6d48e5 solid 2px;
}
.sponsors-list{
    padding-inline: 23vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sponsors-list img:hover{
    opacity: 1;
}
.img-sponsor{
    width: 100px; 
    height: 30px;
    opacity: 0.4;
}
/* Youssef's part */
.section_two{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-inline: 16vw;
    gap: 70px 70px;
    background-color: #f6f6fd;
    padding-bottom: 20vh;
}

.section_title{
    margin-top: 10vh;
    grid-area: 1 / 1 /span 1 / span 3 ;
    text-align: center;
}
.section_title h2{
    margin-bottom: 3vh;
    font-size: 22px;

}
.section_title p{
    opacity: .6;
    font-size: 14px;
}

.feature-list{
    text-align: center;
    display: grid;
    justify-content: space-around;
    height: 30vh;
}
.card-img{
    font-size: 35px;
}
.card-img img{
    background-color: #ece7fe;
    border-radius: 50%;
    width: 34px;
    padding: 1.3vh 0.7vw;
}
.card-text p{
    margin-top: 3vh;
    opacity: .6;
}
.card-text h3{
    opacity: .8;
    font-weight: lighter;
}

/* section three */
.section_three{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    padding-inline: 16vw;
    padding-bottom: 20vh;
}

.state1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}
.stat-img img{
    width: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.stat-text {
    width: 17vw;
}

.stat-text h2,p,a{
    margin-bottom: 3vh;
}
.stat-text h2{
    font-weight: lighter;
}
.stat-text p{
    opacity: 0.7;
}
.stat-text a{
    opacity: 0.6;
    color: black;
    font-weight: bold;
    position: relative;
}

.stat-text a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    height: 2px;
    width: 50px;
    background: #8798ab;
    transition: 0.3s;
}
.stat-text a:hover::after{
    width: 100%;
}

.state2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 40px 0;
}


/* part saad  */

.section4,
.section4-desciption,
.section4-statistics div,
.section5-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 {
    background-color: #6d48e5;
    color: white;
    padding: 6rem 4rem;
    gap: 1rem;
}

.section4-desciption {
    padding-bottom: 1.5rem;
    gap: 0.5rem;
}

.section4-desciption h1 {
    font-size: 2rem;
    font-weight: 600;
}

.section4-desciption p {
    font-size: 1.5rem;
    font-weight: 400;
}

.section4-statistics {
    display: flex;
    gap: 5rem;
    padding-bottom: 1rem;
}

.section4-statistics div {
    gap: 0.125rem;
}

.section4-statistics h1 {
    font-size: 5rem;
}

.section4-statistics p {
    font-size: 1rem;
}

.section4-moreinfo {
    font-size: 0.75rem;
    border-bottom: 0.5px groove;
}

/* simo section */

.simopart1 {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding: 50px

}

.icons1{
    display: flex;
    justify-content: space-around;
    margin-right: 50%;
    text-decoration: none;
    color: black;
}
.ico1{
    font-size: 20px;
    color: gray;
    background-color: brown;
    border-radius: 50%;
}
.ico2{
    font-size: 20px;
    color: brown;
    border-radius: 50%;
}
.ico3{
    font-size: 20px;
    color: rgb(255, 217, 0);
    border-radius: 50%;
}
.p1{
    margin-left: 10%;
    color: grey;
}
.text1{
    display: flex;
    flex-direction: column;
}
/* second section */

footer {
    background-color: #f6f6fd;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    gap: 1rem;
}

.footer_part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 15rem;
    text-align: center;
}

.footer_part1 h4 {
    color: #aeaeae;
}

.footer_part1 h1 {
    color: #364655;
    font-size: 28px;
    font-weight: 600;
}

.footer_part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer_part2 button {
    width: 300px;
    background-color: #6d48e5;
}

.footer_part2 input {
    width: 300px;
    height: 35px;
    border: #6d48e5 1px solid;
    border-radius: 2%;
}

.footer_part2 input::placeholder {
    padding-left: 1rem;
    color: #aeaeae;
}

.footer_part2 p {
    color: #97a6b5;
    font-size: small;
}

.footer-bottom {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.footer-bottom .logo {
    color: #6d48e5;
    font-size: 20px;
}

.footer-bottom .copyright,
.footer-bottom .socials {
    color: #97a6b5;
    font-size: 16px;
    font-weight: 400;
}

.footer-bottom .socials {
    display: flex;
    gap: 0.5rem;
}

.footer-bottom .socials a:hover {
    font-weight: 600;
}

button:hover {
    background-color: white;
    color: #6d48e5;
    box-shadow: 5px 15px 15px #8798ab;
}