*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 22vw;
    margin-top: 20px;
}
.logo{
    color: #6d48e5;
}

a{
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    width: 30vw;
}
.link-color{
    color: rgb(106, 105, 105);
}

.signin{
    background-color: #6d48e5;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    
}
/* main */
main{
    margin-top: 30px;
}
.section-one{
    text-align: center;
}
.hola{
    color: rgb(59, 59, 59) ;
}
.hello{
    margin-top: 20px;
    color: rgb(106, 105, 105) ;
    line-height: 20px;
    letter-spacing: 1px;
}
.btn-register {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 2px;
    margin: 25px 0;
    text-transform: uppercase;
    text-decoration: none;
    background: #6d48e5;
    color: white;
    border-radius: 4px;
}
.sponsors-list{
    padding-inline: 23vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-sponsor{
    width: 100px; 
    height: 30px;
    opacity: 0.4;
}

/* part saad  */

/* violet part */
.violet {
    background-color: #704ce4;
    height: 400px;
    display: block;
    align-items: center;
    align-content: center;
    padding-top: 40px;
}

b {
    margin-left: 40px;
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 40px;
    font-family: 'SF Pro Display', sans-serif;

}

.les_statistiques {
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
}

.link_in_purplediv {
    color: white;
    align-self: center;
}

.purplediv {
    align-items: center;
    align-self: center;
    margin: auto;
    display: flex;
    width: fit-content;
}

/* first section */

.first-section {
    display: flex;
    padding-block-start: 10%;
    padding-block-end: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.div-icons{
    display: flex;
    flex-direction: column;
    align-items: start;
}

h4 {
    display: inline-block;
    opacity: 30%;
}

.img-statique{
    width: auto;
    height: auto;
}

.description {
    text-indent: 50px;
}
